.container {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .copyright {
    width: 408px;
    font-family: nunito;
    font-size: 1.8rem;
  }
  .navLinks {
    font-size: 1.8rem;
    display: flex;
    font-family: nunito;
    font-weight: semi-bold;

    li {
      list-style-type: none;
      padding-left: 5rem;
    }

    .link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .linkName {
        padding-right: 0.8rem;
      }

      .icon {
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }

    .link:hover {
      cursor: pointer;
      color: #6441a4;

      .icon {
        transform: translateY(-5px);
      }
    }
  }
}

@media only screen and (max-width: 1099px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    flex-direction: column-reverse;

    .copyright {
      text-align: center;
    }

    .navContainer {
      width: 100%;
    }

    .navLinks {
      padding: 0;
      display: flex;
      flex-direction: column;

      .link {
        justify-content: space-evenly;
        min-width: 100%;
        padding: 1rem 3rem;
        font-size: 3rem;
        margin-bottom: 2rem;
        border: 3px solid black;
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      }

      :hover {
        transform: translateY(-10px);
      }
    }
  }
}
